# Database
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=password
MIGRATIONS_DIR=./migrations
DB_HOST=db
DB_HOST_PORT=54321
DB_PORT=5432

# GRPC
GRPC_PORT=50051
GRPC_HOST=localhost

# Docker
DOCKER_USERNAME=mikhailsoldatkin

APP_NAME=auth
MIGRATOR_NAME=auth_migrator

PG_DSN="host=localhost port=${DB_HOST_PORT} dbname=${POSTGRES_DB} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} sslmode=disable"
