# Environment (local, test, prod)
ENV=local

# Database
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=password
DB_HOST=db
POSTGRES_PORT=5432
MIGRATION_DIR=./migrations

# GRPC
GRPC_PORT=50051
GRPC_HOST=localhost