# Database
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=password
MIGRATIONS_DIR=./migrations
DB_HOST=db
DB_PORT=5432

# GRPC
GRPC_PORT=50051
GRPC_HOST=localhost

# Docker
DOCKER_USERNAME=
DOCKER_SERVER_IMAGE=auth_server
DOCKER_MIGRATOR_IMAGE=auth_migrator
